<%# frozen_string_literal: true %>

<div class="contextual">
  <%= form_tag({}, :method => :get) do %>
    <label for="including_myself">
      <%= check_box_tag 'including_myself', 1, params[:including_myself], :onchange => "this.form.submit();" %>
      <%=l :including_hearted_myself %>
    </label>
  <% end %>
</div>

<h2><%= l(:recently_hearted_objects) %></h2>

<% if @heartables.empty? %>
  <p class="nodata"><%=l :label_no_data %></p>
<% else %>
  <ul>
  <% @heartables.each do |heartable| %>
    <li>
      <p>
        <%= link_to_project(heartable.project) + ": " %>
        <%= link_to_heartable heartable %>
        <%= heart_link_with_counter heartable, User.current %>
      </p>
      <ul>
        <% hearts = heartable.hearts.order(:created_at => :desc) %>
        <% hearts = hearts.where.not(:user => User.current) unless params["including_myself"] %>
        <% hearts.each do |heart| %>
          <li class="author">
            <%= avatar(heart.user, :size => "24") %>
            <%= authoring heart.created_at, heart.user, :label => :label_hearted_time_by %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
  <span class="pagination"><%= pagination_links_full @hearts_pages %></span>
<% end %>

<% html_title(l(:recently_hearted_objects)) %>
